#encabezado {
    column-count: 2;
}

#nombre {
    font-weight: bold;
    font-size: 55px;
    text-align: end;
    padding: 20px;
}

#subtitulo {
    font-weight: bold;
    font-size: 35px;
    text-align: end;
    margin-right: 25px;
}


#imagen {
    height: 200px;
    border-radius: 200px;
    padding: 20px;
}

#datos {
    column-count: 3;
    justify-content: center;
    
}

#contenedor {
    display: flex;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
}

#series {
    display: inline-block;
    width: 50%;
    height: 400px;
    background-color: rgb(173, 226, 230);
    padding: 50px;
    box-sizing: border-box;
    border-right: 1px solid black;
}

video {
    width: 200px;
    height: 200px;
}

#pelis {
    display: inline-block;
    width: 50%;
    height: 400px;
    background-color: rgb(90, 179, 206);
    padding: 50px;
    box-sizing: border-box;
}

.perfil {
    font-family: Arial, Helvetica, sans-serif;
}